.main {
  color: white;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(53, 53, 53, 0.6));
  width: 90%;
  margin-left: 5%;
  border-radius: 30px;
  margin-top: 9%;
  margin-bottom: 10%;
  box-shadow: 92px 73px 201px rgba(0, 0, 0, 0.44);
}

@media only screen and (min-width: 600px) {
  .main h1 {
    padding: 20px;
    
    
  }
  .popup svg{
    width: 2.2%;
    height: 2.2%;
  }
}
.input {
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.fds {
  width: 90%;
  margin-left: 5%;
  border-radius: 30px;
  background-color: black;
  margin-top: 9%;
  margin-bottom: 5%;
}

.popup {
  position: fixed;
  display: flex;
  top: 0;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0.7), rgba(230, 230, 230, 0.7));
  padding: 20px;
  border-radius: 30px;
  animation: slideUp 0.5s ease forwards;
  color: rgb(15, 15, 15);
  justify-content: center;
  align-items: center;
  font-size: 13px;
  filter: blur(0px);
}

@keyframes slideUp {
  0% {
    top: -100%; 
  }
  100% {
    top: 8px; 
  }
}


.popup-open {
  filter: blur(3px);
  transition: filter 0.3s ease;
  & button#submit {
    display: none;
  }
}

#pp {
  text-align: center;
  margin-bottom: 5%;
}
 .result h2 {
  margin-top: 5%;
  text-align: center;
  
 }

.result {
  margin-top: 15%;
  background-color: black;     /* Fundo escuro */
  color: #fff; /* Texto branco */
  padding: 20px;
  border-radius: 10px;
  text-align: start;
  margin-bottom: 15%;
  width: 100%;
  overflow-x: auto;
  bottom: 5%;
}
#container3 {
  background-color: #555555;
  border: #333333 1px solid;
  border-radius: 10px;
}

#container3 input{
  background-color: transparent;
  border: none;
  color: rgb(207, 207, 207);
  padding: 5px;
}

#container3 select{
  border: none;
  background-color: transparent;
  color: rgb(214, 214, 214);
}
#container3 select option{
  background-color: #555555;
  border-radius: 10px;
  border: none;
}
.result p {
  margin-bottom: 10px;
}

.result .date {
  margin-bottom: 20px;
  & button{
    width: 100%;
    background-color: #aaaaaa85;
    color: rgb(26, 26, 26);
    border: none;
  }
}
#name{
  text-align: center;
  padding-top: 1%;
  padding-bottom: 4%;
}
.result .date p {
  color: #cccccc;
}

/* Estilo para destacar a mensagem de carregamento */
.result .loading-message {
  font-style: italic;
  color: #888; /* Cinza claro */
}

/* Estilo para destacar as informações da mensagem */
.result .date p strong {
  color: rgb(138, 138, 138); /* Vermelho */
}
 
.date{
  background-color: #333333;
  border-radius: 15px;
  position: relative;
  width: 100vw !important
}

#pteste {
  position: relative;
  width: 100vw !important;
  margin: 0;
  background-color: rgb(218, 218, 218);
  border: 10px solid;
  border-image: linear-gradient(to right, #0000008e, #1d1d1d);
  border-image-slice: 6;
  animation-name: slideDownAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes slideDownAnimation {
  0% {
    opacity: 0;
    transform: translateY(-90%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.p-4 {
  padding: 1rem;
}

.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

.overflow-hidden {
  overflow: hidden;
}

.flex-col {
  flex-direction: column;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

:is(.dark .dark\:text-slate-400) {
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}

.text-slate-500 {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}   